<fieldset class="form-group">
    <label for="NameTextarea">Capture name</label>
    <input type="text" class="form-control" id="NameTextarea" ng-model="cctc.model.name">
</fieldset>
<div id="Keywords">
    <fieldset class="form-group">
    <label for="KeywordsTextarea">Search terms (separated by comma, eg. "shooter, bomb, #MakeDonaldDrumpfAgain")</label>
    <textarea class="form-control" id="KeywordsTextarea" rows="3" ng-model="cctc.model.terms"></textarea>
    </fieldset>
</div>
<button class="btn btn-default" ng-click="cctc.submit()">Submit</button>
<a ng-click="cctc.deleteSelected()">Delete</a>
<ui-gmap-google-map center='map.center' zoom='map.zoom'>
    <ui-gmap-drawing-manager control="drawingControlOptions" options="cctc.drawingOptions"></ui-gmap-drawing-manager>
</ui-gmap-google-map>
