<div>
	<h3>Details</h3>
	<div>{{id}}</div>
	<div>{{model | json}}</div>
	<div class="row">
		<table class="table table-striped">
			<tbody>
				<tr><td>id</td><td ng-bind="model.id"></td></tr>
				<tr><td>name</td><td ng-bind="model.name"></td></tr>
				<tr><td>first started</td><td ng-bind="model.first_started"></td></tr>
				<tr><td>most recently started</td><td ng-bind="model.started"></td></tr>
				<tr><td>most recently stopped</td><td ng-bind="model.stopped"></td></tr>
				<tr><td>assigned worker</td><td ng-bind="model.assigned_worker"></td></tr>
				<tr><td>assigned worker username</td><td ng-bind="model.assigned_worker_username"></td></tr>
				<tr><td>total_count</td><td ng-bind="model.total_count"></td></tr>
				<tr><td>rate</td><td ng-bind="model.rate"></td></tr>
				<tr><td>most recent ping date</td><td ng-bind="model.ping_date"></td></tr>
				<tr><td>archived date</td><td ng-bind="model.archived_date"></td></tr>
				<tr><td>archived by</td><td ng-bind="model.archived_by"></td></tr>
				<tr><td>creation date</td><td ng-bind="model.created_date"></td></tr>
				<tr><td>created by id</td><td><span ng-bind="model.created_by_username"></span> (id: <span ng-bind="model.created_by"></span>)</td></tr>
				

			</tbody>
		</table>
	</div>
</div>