<div ng-form="form">
    <fieldset class="form-group">
        <label for="NameTextarea">Capture name</label>
        <input type="text" class="form-control" id="NameTextarea" name="name" ng-model="ccrc.model.name" required ng-pattern="/^[\w\-\ ]*$/">
        <div class="alert alert-danger" role="alert" ng-show="form.name.$touched && form.name.$invalid">
            <p ng-if="form.name.$error.required">A name is required</p>
            <p ng-if="form.name.$error.pattern">Name must consist of only letters, numbers, underscores, dashes, and spaces</p>
        </div>
    </fieldset>


    <div id="Subreddits">
        <fieldset class="form-group">
        <label for="SubredditsTextarea">List specific subreddits to capture from, or leave blank for all of Reddit.</label>
        <textarea class="form-control" id="SubredditsTextarea" rows="3" name="subreddits" ng-model="ccrc.modelsubreddits" required></textarea>
        <div class="alert alert-danger" role="alert" ng-show="form.subreddits.$touched && form.subreddits.$invalid">
            <p ng-if="form.subreddits.$error.required">At least one subreddit is required</p>
        </div>
        </fieldset>
    </div>


    <button class="btn btn-primary" ng-click="ccrc.submit()">Submit</button>
    <div class="alert alert-danger" role="alert" ng-show="form.$invalid && ccrc.submitted">
        <p>Some problems were detected with your capture settings. Please check above to resolve.</p>
    </div>
</div>

<pre> {{ form|json }}</pre>