{% extends "base.html" %}
{% load staticfiles %} 


{% block page_style %} 
.audio-clip-cntr { } 
.audio-clip { width: 400px; height: 150px; background-color: #eee; display: block; } 
.hidden { display: none; } 

.trans-text textarea { width: 100%; }
.trans-text { margin-bottom: 10px; }
.fixed-popup { position: fixed; top: 0; left: 0; z-index: 10000; width: 100%; display: none;}

.glyphicon.spin-animation {
    -webkit-animation: refresh-spin 2s infinite linear;
    animation: refresh-spin 2s infinite linear;
}

@-webkit-keyframes refresh-spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
    
}

@keyframes refresh-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

{% endblock %} 
{% block content %}
<div class="fixed-popup">
    <div id="save-error-alert" class="alert alert-danger fade" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
      <h4>Save Error</h4>

      <p>An error occurred while attempting to save. </p>
      <p><b>Status Code:</b><span id="error-status-code"></span></p>
      <pre id="error-satus-text">
      </pre>
    </div>
</div>
<div class="container-fluid">


    <div class="row">
        <div class="col-md-12">
            <h1>Captures</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-default" href="{% url 'capture-create' %}">Add New</a>
        </div>
    </div>



    {% if object_list %} 
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>    
                        {% for job in object_list %}
                            <tr data-id="{{job.id}}">
                                <td>
                                    <span class="play-stop-cntr" data-id="{{job.id}}" data-status="{{job.status}}">
                                        {% if job.status == 0 or job.status == 1 or job.status == 5 %}
                                            <button type="button" class="btn btn-primary play-stop">
                                                <span class="glyphicon glyphicon-play"></span>
                                            </button>
                                        {% elif job.status == 2 or job.status == 4 %}
                                            <button type="button" class="btn play-stop" disabled>
                                                <span class="glyphicon glyphicon-refresh spin-animation"></span>
                                            </button>
                                        {% elif job.status == 3 %}
                                            <button type="button" class="btn btn-danger play-stop">
                                                <span class="glyphicon glyphicon-stop"></span>
                                            </button>
                                        {% endif %}
                                    </span>
                                </td>                            
                                <td><a href="{% url 'capture-update' pk=job.id %}">{{job.name}}</a></td>
                                <td>{{job.description}}</td>
                                <td>{{job.status}}</td>
                            </tr>
                        {% endfor %} 
                    </tbody>
                </table>
            </div>
        </div>


        {% if is_paginated %}
        <div class="row">
            <div class="col-md-12">
                <div class="pagination">
                    <span class="page-links">
                        {% if page_obj.has_previous %}
                        <a href="/clips/{{recording.id}}/?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}
                        <span class="page-current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>
                        <ul>
                        {% for i in paginator.page_range %}
                            {% if page_obj.has_next %}
                                <li><a href="/clips/{{recording.id}}/?page={{ i }}">{{i}}</a></li>
                            {% endif %}
                        {% endfor %}
                        </ul>
                        {% if page_obj.has_next %}
                        <a href="/clips/{{recording.id}}/?page={{ page_obj.next_page_number }}">next</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
        {% endif %} 

    {% else %}
    <h3>Clips</h3>
    <p>No clips found!!! :(</p>
    {% endif %}


    <div class="row">
        <div class="col-md-12">
            <div class="debug-code-outer-cntr">
                <button type="button" data-toggle="collapse" data-target="#debug-code-cntr" class="btn btn-danger">Show debug</button>
                <div id="debug-code-cntr" class="collapse">
                    <code>{{debug}}</code>
                </div>
            </div>
        </div>
    </div>


</div>

<div>
    {{ form.as_p }}
</div>




{% endblock %} 



{% block end_scripts %}


<script>

//
// getCookie is taken from http://stackoverflow.com/questions/10730362/get-cookie-by-name
//
function getCookie(name) {
  var value = "; " + document.cookie;
  var parts = value.split("; " + name + "=");
  if (parts.length == 2) return parts.pop().split(";").shift();
}



//
// csrfSafeMethod from: https://docs.djangoproject.com/en/dev/ref/contrib/csrf/#ajax
//
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}



function getOrDefault($el, name, defaultValue) {
    var val = $el.data(name);

    return (val !== undefined) ? val : defaultValue;
}


//function togglePlayStop

$(function() {


    // debug collapsible item
    $("#accordian").collapse();

    // set up to add csrf token
    // taken from https://docs.djangoproject.com/en/dev/ref/contrib/csrf/#ajax
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                var csrftoken = getCookie('csrftoken');
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });


    function putJob(id, obj) {
        $.ajax("/api/jobs/" + id + "/", {
            type: "put",
            data: obj
        })
        .done(function(d){
            console.log("putJob -- successful");
            console.dir(d);
        })
        .fail(function(d){
            console.log("putJob -- failed");
            console.dir(d);
        });
    }

    function changeStatus(id, old_status, new_status ) {
        $.get("/api/jobs/" + id + "/")
            .done(function(d){
                if(d.status == old_status) {
                    console.log("changing status from old_status to new_status");
                    d.status = new_status;
                    // update the new status on server
                    putJob(id, d);
                } else {
                    console.error("status has changed on the server... currently: " + d.status + " was expected to be: " + old_status );
                }
            })
            .fail(function(d){
                console.error("failed to get job status");
            });
    }


    $("button.play-stop").click(function(d){
        var parent = $(this).parent(".play-stop-cntr"),
            id = +parent.data("id"),
            status = +parent.data("status"),
            playBtn = true,
            working = false,
            btn = $(this),
            new_status = status;


/*
    STATUS_UNKNOWN = 0
    STATUS_CREATED = 1
    STATUS_STARTING = 2
    STATUS_STARTED = 3
    STATUS_STOPPING = 4
    STATUS_STOPPED = 5
*/

        // split apart out button types
        switch(status) {
            /* STATUS_UNKNOWN, STATUS_CREATED, STATUS_STOPPED */
            case 0:
            case 1: 
            case 5:
                playBtn = false;
                working = true;
                new_status = 2;
                break;

            /* STATUS_STARTING */
            case 2: 
                playBtn = true;
                working = false;
                break;

            /* STATUS_STARTED */
            case 3:
                playBtn = false;
                working = true;
                new_status = 4;
                break;

            /* STATUS_STOPPING */
            case 4:
                playBtn = false;
                working = true;
                break;

            default:
                console.error("unknown status: " + status);
                break;
        }


        if(status != new_status) {

            parent.data('status', new_status);

            // update the status
            changeStatus(id, status, new_status);


            // now update the button
            if(working) {
                btn.attr("disabled", "disabled");
                btn.removeClass("btn-danger btn-primary");
                btn.find("span").removeClass("glyphicon-stop glyphicon-play").addClass("glyphicon-refresh spin-animation");
            } else {
                btn.removeAttr("disabled");
                if(playBtn) {
                    btn.addClass("btn-primary").removeClass("btn-danger");
                    btn.find("span").removeClass("glyphicon-stop glyphicon-refresh spin-animation").addClass("glypicon-start");
                } else {
                    btn.addClass("btn-danger").removeClass("btn-primary");
                    btn.find("span").removeClass("glyphicon-start glyphicon-refresh spin-animation").addClass("glypicon-stop");
                }
            }
        }


    });
});
</script>
{% endblock %}