{% extends "angular-app-base.html" %}
{% load staticfiles %}

{% block ng_app %}capture.app{% endblock %}

{% block page_style %}
	ul.styleless { list-style-type: none; padding-left: 0;}
	ul.styleless li { padding-left: 0; }
	[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
		display: none !important;
	}

	.job-title { font-size: 20px; font-weight: bold; }
	.job-worker { opacity: 0.5; margin-right: 20px; }
	.job-activity-graph { height: 64px; width: 100%; border: 1px dashed #888; }

	.job-ra-data { color: #888; font-size: 14px; text-align: right; }

	.job-item .data-label, .job-item .data-value { color: #888; font-size: 1em; font-weight: 200; }

	.job-hamburger { padding-right: 10px; }

	.job-action-btn-cntr { margin: 16px 6px; }

	.job-overview.row { padding-top: 10px; }
	.job-description { margin-bottom: 20px;  }
	.job-description, .job-creation, .job-modified { color: #888; font-weight: 200; }
{% endblock %}


{% block inner_content %}
<div class="container" ng-controller="CaptureCtrl">
		<div ng-controller="toastController" ng-cloak>
			<ul class="styleless toast-list" ng-show="toasts.length">
				<li class="row toast-item" ng-repeat="toast in toasts">
					{% verbatim %}
					<div class="alert alert-{{toast.level}}" role="alert">
						<button type="button" class="close" aria-label="Close" ng-click="dismiss(toast.id)"><span aria-hidden="true">&times;</span></button>
						<span>{{toast.id}} - {{toast.text}}</span>
					</div>
					{% endverbatim %}
				</li>
			</ul>
		</div>


		<div ng-controller="jobListControl" ng-cloak>

			<div ng-switch on="jobs || null">
				<div ng-switch-when="null">
					<span>Loading ...</span>
				</div>
				<div ng-switch-default>
					
					<div class="job-list-container ng-hide" ng-show="(runningJobs(jobs)).length" >
						<h2>Running</h2>

						<ul class="styleless job-list col-md-12"  >
							{% verbatim %}

							<li id="job-{{job.id}}" class="row item-row job-item" ng-repeat="job in jobs | filter:isRunningJob" ng-include="'tpl-job.html'" ng-class="{ 'job-processing': isWorking(job) }" >{{selected}}
							</li>
							{% endverbatim %}
						</ul>
					</div>

					<div class="job-list-container ng-hide" ng-show="(stoppedJobs(jobs)).length"> 
						<h2>Stopped</h2>
						<ul class="styleless job-list col-md-12"  >
							{% verbatim %}

							<li id="job-{{job.id}}" class="row item-row job-item" ng-repeat="job in jobs | filter:isStoppedJob" ng-include="'tpl-job.html'" ng-class="{ 'job-processing': isWorking(job) }">{{selected}}
							</li>
							{% endverbatim %}
						</ul>
					</div>
					<a class="btn btn-primary" id="new-job" ng-click="create()"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;Create New Capture</a>
				</div>
			</div>
			{% verbatim %}
			<div>jobs.length == {{jobs.length}}</div>
			<pre>jobs == {{jobs}}</pre>
			{% endverbatim %}
		</div>
	

		<!-- -->
		<div class="" ng-controller="clientListController">
			<h2>Clients</h2>
			<ul class="styleless client-list col-md-12 row">
				{% verbatim %}
				<li id="client-{{client.id}}" class="client-item item-row col-md-3" ng-repeat="client in clients">
					<span>{{client.username}}</span>
					<span> ({{client.active_jobs.length}})</span>
					<a class="btn btn-xs btn-default" href="#!/job/create/{{client.id}}/" ng-show="client.active_jobs.length == 0"><span class="glyphicon glyphicon-plus-sign"></span></a>
				</li>
				{% endverbatim %}
			</ul>
		</div>


		<!-- modal -->
		<div id="job-form-dlg" class="modal fade" ng-controller="jobEditController">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" ng-click="onCancel()" aria-label="Close"><span aria-hidden="true">&times;</button>
						<h4 class="modal-title">{{dlg.title}}</h4>
					</div>
					<div class="modal-body">
						<div>
							<div ng-include="'tpl-jobform.html'">
								
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

		<div ng-controller="jobEditController">
			<!-- <div ng-include="'tpl-jobform.html'">
				
			</div> -->
		</div>



</div>

{% endblock %}

{% block end_scripts %}

{% verbatim %}
<script type="text/ng-template" id="tpl-job.html">

<div class="container" ng-controller="JobCtrl">
	<div class="panel panel-default">
		<div class="panel-heading" id="job-{{job.id}}" data-id="{{job.id}}" data-status="{{job.status}}" >
			<div class="row">
				<div class="col-md-8 job-title">{{job.name}}</div>
				<div class="pull-right job-hamburger">
					<div class="btn-group">
						<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" id="#job-menu-{{job.id}}" aria-haspopup="true" aria-expanded="false">
							<span class="sr-only">Job menu toggle</span>
							<span class="glyphicon glyphicon-menu-hamburger"></span>
						</button>
						<ul class="dropdown-menu dropdown-menu-right">
							<li><a href="#" ng-click="edit(job)"><span class="glyphicon glyphicon-pencil"></span>&nbsp; Edit</a></li>
							<li><a href="#" ng-click="archive(job)"><span class="glyphicon glyphicon-book"></span>&nbsp; Archive</a></li>
						</ul>
					</div>
				</div>
				<div class="job-worker pull-right">
					<span class="glyphicon glyphicon-wrench"></span>
					<span class="job-worker-name">{{job.assigned_worker_username}}</span>
				</div>					

			</div>
			<div class="row job-overview">
				<div class="col-md-1 job-action">
					<div class="job-action-btn-cntr" ng-switch="job.status">
						<button ng-switch-when="0" class="btn btn-success btn-lg job-action-btn"><span class="glyphicon glyphicon-play"></span></button>
						<button ng-switch-when="1" ng-click="onActionClicked(job, 2);" class="btn btn-success btn-lg job-action-btn"><span class="glyphicon glyphicon-play"></span></button>
						<button ng-switch-when="3" ng-click="onActionClicked(job, 4);" class="btn btn-danger btn-lg job-action-btn"><span class="glyphicon glyphicon-stop"></span></button>
						<button ng-switch-when="5" ng-click="onActionClicked(job, 2);" class="btn btn-success btn-lg job-action-btn"><span class="glyphicon glyphicon-play"></span></button>
						<button ng-switch-default class="btn btn-default btn-lg job-action-btn disabled"><span class="glyphicon glyphicon-refresh spin-animation "></span></button>
					</div>
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="">
							<div class="row">
								<div class="col-md-12">
									<div class="job-activity-graph"></div>
								</div>
							</div>
							<div  class="row">
								<div class="col-md-6">
									<span class="data-value">{{job.total_count || '0'}}</span><span class="label data-label">tweets</span>
								</div>						

								<div class="col-md-6" style="text-align: right">
									<span class="data-value">{{job.rate || '-'}}</span><span class="label data-label">per second</span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-4 col-md-offset-1">
					<div class="row">
						<div class="col-md-12">
							<div class="job-description">{{job.description| limitTo:80}}{{job.description.length > 50 ? '&hellip;' : ''}}
							</div>
							<div class="job-creation">Created by </span><span>{{job.created_by_username}} <span class="label data-value" am-time-ago="job.created_date"></span>
							</div>

							<div class="job-modified">Last Modified by <span>{{job.modified_by_username}} <span class="label data-value" am-time-ago="job.created_date"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


</script>


<script type="text/ng-template" id="tpl-jobform.html">
	<form ng-controller="jobFormController">
		<div class="form-group name" ng-hide="$hidden_fields.indexOf('name') >= 0">
			<label class="control-label" for="id_name">Name *</label>
			<p class="help-block">A unique name for this capture. Can only contain alpha-numeric characters, spaces, dashes (-), and underscores (_). 
			</p>
			<input class="form-control" id="id_name" maxlength="64" name="name" type="text" ng-model="job.name" required="" ng-readonly="edit == true">
			<div class="alert alert-danger" role="alert" ng-repeat="error in job.$errors.name"><strong>Error</strong> {{error}}</div>
		</div>
		<div class="form-group description " ng-hide="$hidden_fields.indexOf('description') >= 0">
	        <label class="control-label" for="id_description">Description *</label>
	        <p class="help-block">A detailed description of the event. Please add possible rumors to this as the event unfolds.</p>
	        <textarea class="form-control" cols="40" id="id_description" name="description" rows="4" ng-model="job.description" required=""></textarea>
            <div class="alert alert-danger" role="alert" ng-repeat="error in job.$errors.description"><strong>Error</strong> {{error}}</div>
		</div>
		<div class="form-group keywords " ng-hide="$hidden_fields.indexOf('keywords') >= 0">
            <label class="control-label" for="id_keywords">Twitter keywords *</label>
            <p class="help-block">A comma separated list of terms. eg. term1, term2, term3</p>
            <textarea class="form-control" cols="40" id="id_keywords" name="keywords" rows="3" ng-model="job.keywords" required=""></textarea>
            <div class="alert alert-danger" role="alert" ng-repeat="error in job.$errors.keywords"><strong>Error</strong> {{error}}</div>
        </div>
		<div class="form-group assigned_worker " ng-hide="$hidden_fields.indexOf('assigned_worker') >= 0">
			<label class="control-label" for="id_assigned_worker">Assigned worker *</label>
			<p class="help-block">This list will only display unassigned capture clients. If there are none, you must archive an existing capture.</p>
			<select class="form-control" id="id_assigned_worker" name="assigned_worker" ng-model="job.assigned_worker" required="">
				<option value="" selected="selected">---------</option>
				<option value="{{client.id}}" ng-repeat="client in clients | filter:isUnassigned" ng-selected="client.id == job.assigned_worker">{{client.username}}</option>
			</select>
			<div class="alert alert-danger" role="alert" ng-repeat="error in job.$errors.assigned_worker"><strong>Error</strong> {{error}}</div>
		</div>
		<div class="form-group status" ng-hide="$hidden_fields.indexOf('status') >= 0">
			<label class="control-label" for="id_status">Status *</label>
			<p class="help-block">The status of the capture client</p>
			<select class="form-control" id="id_status" name="status" ng-model="job.status" required="">
				<option value="{{cs.id}}" ng-repeat="cs in client_states" ng-selected="cs.id == job.status">{{cs.text}}</option>

			</select>
			<div class="alert alert-danger" role="alert" ng-repeat="error in job.$errors.status"><strong>Error</strong> {{error}}</div>
		</div>
		<div class="form-errors alert alert-danger" ng-show="$errors.length > 0">
			<ul>
				<li ng-repeat="text in $errors">{{text}}</li>
			</ul>
		</div>
		<div class="modal-footer"> 
			<div class="form-actions pull-right">
				<input class="btn btn-primary btn-large" type="submit" value="{{dlgParams.submitText}}" ng-click="submit()">
				<button type="button" class="btn btn-default btn-large" ng-click="onCancel()" aria-label="Cancel">Cancel</button>
			</div>
		</div>
	</form>
</script>

{% endverbatim %}

{% endblock %}