        {% load staticfiles %}


<!DOCTYPE html>
<html lang="en-us" {% block ng_app_block %}ng-app="{% block ng_app %}dummy-app{% endblock %}"{% endblock %}>
<head>
	<meta charset="utf-8">
	<title>{% block title %}SM Capture Manager{% endblock %}</title>

	<link rel="stylesheet" href="{% static "css/normalize.css" %}">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="{% static "bower_components/bootstrap/dist/css/bootstrap.min.css" %}">
	<link rel="stylesheet" href="{% static "capture/css/default.css" %}">

	<base href="/">

	{% block additional_head %}
	{% endblock %}

	<style>
	{% block page_style %}
	{% endblock %}
	</style>
</head>
<body {% block body_attributes %}{% endblock %}>
	{% block page_body %}
	<div id="page-wrapper">

		<div id="content-wrapper">
			<div class="content">
				{% block content %}
					<h1>{% block inpage_title %}{% endblock %}</h1>
					{% block inner_content %}{% endblock %}
				{% endblock %}
			</div>
		</div>


	</div>
	{% endblock %}


    <script src="{% static "/static/bower_components/lodash/dist/lodash.min.js" %}"></script>
	<script src="{% static "bower_components/angular/angular.js" %}"></script>
	<script src="{% static "bower_components/angular-messages/angular-messages.js" %}"></script>
	<script src="{% static "bower_components/angular-animate/angular-animate.js" %}"></script>
	<script src="{% static "bower_components/angular-resource/angular-resource.js" %}"></script>
	<script src="{% static "bower_components/angular-ui-router/release/angular-ui-router.js" %}"></script>
	<script src="{% static "bower_components/angular-toastr/dist/angular-toastr.tpls.js" %}"></script>
	<script src="{% static "bower_components/angular-cookies/angular-cookies.js" %}"></script>
	<script src="{% static "bower_components/moment/moment.js" %}"></script>
	<script src="{% static "bower_components/angular-moment/angular-moment.js" %}"></script>
	<script src="{% static "bower_components/jquery/dist/jquery.js" %}"></script>	
	<script src="{% static "bower_components/bootstrap/dist/js/bootstrap.js" %}"></script>
	<script src="{% static "bower_components/spin.js/spin.min.js" %}"></script>
	<script src="{% static "bower_components/angular-spinner/angular-spinner.js" %}"></script>
    <script src="{% static "/static/bower_components/angular-simple-logger/dist/angular-simple-logger.min.js" %}"></script>
    <script src="{% static "/static/bower_components/angular-google-maps/dist/angular-google-maps.min.js" %}"></script>
    <script src="//maps.googleapis.com/maps/api/js?sensor=false&libraries=drawing"></script>

	{% block end_scripts %}
	{% endblock %}


</body>
</html>