{% load staticfiles %}
{% include "header-footer.html" %}

<!DOCTYPE html>
<html lang="en-us">
<head {% block ng_app_block %}ng-app="{% block ng_app %}tweetCodingApp{% endblock %}"{% endblock %}>
	<meta charset="utf-8">
	<title>{% block title %}SM Capture Manager{% endblock %}</title>

	<link rel="stylesheet" href="{% static "css/normalize.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "bower_components/bootstrap/dist/css/bootstrap.css" %}">
	<link rel="stylesheet" href="{% static "css/default.css" %}">

	<script src="{% static "js/jquery-2.1.1.min.js" %}"></script>
	<script src="{% static "js/bootstrap.min.js" %}"></script>

	{% block additional_head %}
	{% endblock %}

    <style>
    {% block page_style %}
    {% endblock %}
    </style>
</head>
<body>
	<div id="page-wrapper">
		{% block header %}
		{% endblock %}

		<div id="content-wrapper">
			<div class="content">
				{% block content %}
					<h1>{% block inpage_title %}{% endblock %}</h1>
					{% block inner_content %}{% endblock %}
				{% endblock %}
			</div>
		</div>

		{% block footer %}
		{% endblock %}
	</div>


	<script src="{% static "bower_components/jquery/dist/jquery.min.js" %}"></script>
	<script src="{% static "bower_components/angular/angular.js" %}"></script>
	<script src="{% static "bower_components/angular-route/angular-route.js" %}"></script>
	<script src="{% static "bower_components/angular-cookies/angular-cookies.js" %}"></script>
	<script src="{% static "bower_components/bootstrap/dist/js/bootstrap.min.js" %}"></script>


    {% block end_scripts %}
    {% endblock %}


</body>
</html>